@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3f51b5;
  --secondary-color: #9c27b0;
  --accent-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #3f51b5;
    --secondary-color: #9c27b0;
    --accent-color: #ffffff;
  }
}

body {
  color: var(--accent-color);
  background: var(--primary-color);
}
