@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #EA80FC;
  --secondary-color: #D50000;
  --accent-color: #ffffff
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #4A148C;
    --secondary-color: #D50000;
    --accent-color: #ffffff;
  }
}

body {
  color: var(--accent-color);
  background: var(--primary-color);
}
